.chat {
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat__header {
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.chat__headerInfo {
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo>h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo>p {
    color: grey;
}

.chat__headerRight {
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow-y: scroll;
}

.chat__message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff;
    width: fit-content;
    max-width: max-content;
    border-radius: 20px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.551); */
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.551);
}