.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    perspective: 1000px;
}

.login__container {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__card {
    min-height: 90vh;
    width: 15rem;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2),
        0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 0rem 5rem;
}

.login__area {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__circle {
    width: 12rem;
    height: 12rem;
    background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(34, 86, 178, 0.75));
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.login__logo {
    width: 10rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.login__text {
    position: relative;
}

.login__hello {
    font-size: 3.5rem;
}

.login__anonymous {
    -webkit-text-stroke: 0.1vw #000;
    color: #fff;
}

.login__Ano__Container {
    width: fit-content;
    padding-right: 50px;
    font-size: 1.32rem;
}

.login__anonymous::before {
    content: 'Anonymous';
    position: absolute;
    left: 0;
    width: 0;
    color: #01fe87;
    -webkit-text-stroke: 0vw #000;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}